@font-face {
  font-family: "clip";
  src:
    url("../fonts/clip-regular-webfont.woff2") format("woff2"),
    url("../fonts/clip-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
