@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-bold-webfont.woff2") format("woff2"),
    url("../fonts/oswald-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-heavyitalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-heavyitalic-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-heavy-webfont.woff2") format("woff2"),
    url("../fonts/oswald-heavy-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-light-webfont.woff2") format("woff2"),
    url("../fonts/oswald-light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-regular-webfont.woff2") format("woff2"),
    url("../fonts/oswald-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-regularitalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-extra-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-extra-lightitalic-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "oswald";
  src:
    url("../fonts/oswald-extralight-webfont.woff2") format("woff2"),
    url("../fonts/oswald-extralight-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
