/* stylelint-disable no-descending-specificity */

.entradas-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(117, 113, 113);
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.entradas-sinopsis {
  color: #fff;
}

.page-template-template-entradas {
  color: #fff;

  h1 {
    font-size: 0;
  }

  .capaGrande {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    border-radius: 15px;
    display: none;

    .capaPequeno {
      max-width: 800px;
      margin: 10% auto;
      background-color: white;

      .textoCapa {
        padding: 3%;
      }
    }

    .capaCerrar {
      text-transform: uppercase;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.2);
      border-bottom: solid 2px #e3609e;
      padding: 2%;
      color: #e3609e;
      font-weight: bold;

      #btnCerrar {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.4rem;
    border-bottom: 2px solid #fff;
    padding-bottom: 1em;
    margin-bottom: 1em;
    height: 2.5em;
  }

  .sec-superior {
    background-color: #ffffff1c;
    padding: 2% 0 3% 0;
  }

  .sec-puntosventa {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    img {
      max-width: 60%;
      height: auto;
    }
  }

  .sec-venta,
  .sec-promo {
    background-color: rgba(0, 0, 0, 0.699);
    color: #fff;

    .venta-card {
      img {
        max-width: 100%;
        height: auto;
      }

      .link-normal,
      .link-img,
      .link-boton {
        font-weight: 700;
        color: $rosa;
      }

      .link-normal {
        color: $rosa;
      }

      .link-boton {
        font-size: 1rem;
        padding: 0.4rem 0.7em;
        font-weight: 700;
        color: #fff;
        background-color: $rosa;
        border-radius: 8px;
      }

      h4 {
        font-size: 1.1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .venta-footer {
      font-size: 1rem;

      .footer-icon {
        font-size: 2rem;
      }
    }
  }

  .sec-ubicacion {
    background-color: #000000b9;
  }

  .sec-info {
    h2 {
      color: #fff;
    }

    .tabla-col {
      ul {
        list-style-type: none;
        padding-left: 0;
      }

      > ul {
        > li {
          margin-bottom: 5px;

          ul {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 5px;

            li {
              padding: 0.5em;
            }
          }

          &.tabla-header {
            font-size: 0.9rem;
            font-weight: 500;
            line-height: 1.2em;
            color: #fff;

            li {
              background-color: #1b0317d7;
              align-self: center;
              align-content: center;
              display: inline-grid;
              height: 100%;
            }
          }
        }

        .franja {
          ul {
            min-height: 80px;

            li {
              background-color: #fff;
              font-size: 0.9rem;
              display: flex;
              align-items: center;
              justify-content: center;

              &.precio {
                font-weight: 700;
                color: #810303;
                line-height: 1.1em;
              }

              &.epi {
                font-size: 1rem;
                background-color: #ffffff31;
              }
            }
          }
        }
      }
    }

    .encendido {
      fill: #d0ff00cb;
      background-color: #d0ff00cb !important;
      color: #000;
    }

    .teatro {
      display: flex;
      justify-content: center;

      svg {
        width: 100%;
        max-width: 350px;
      }
    }

    .listado {
      margin-right: 1rem;
      margin-left: 1rem;
      padding-left: 0;
      list-style: none;

      .bloque-franja {
        margin-top: 2rem;

        h3 {
          height: auto;
        }

        ul {
          padding-left: 0;

          & li:last-child {
            .ubicacion,
            .precio {
              border-bottom: none;
            }
          }
        }

        .ubicacion {
          width: 70%;
          padding-right: 1rem;
          border-bottom: 1px solid #ffffff80;
        }

        .precio {
          width: 30%;
          text-align: right;
          border-bottom: 1px solid #ffffff80;
        }
      }
    }
  }

  .especiales-wrap {
    background-color: rgba(255, 255, 255, 0.781);
    color: #000;

    .especial {
      display: flex;
      font-size: 1.1rem;

      header {
        font-weight: 900;
        color: $rosa;
      }

      .especiales-cont {
        color: #00000093;
      }
    }

    .notas {
      font-size: 0.8rem;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;

      @include media-breakpoint-up(sm) {
        columns: 2;
      }

      @include media-breakpoint-up(sm) {
        columns: 3;
      }
    }
  }

  .entradas-wrap {
    display: none;
  }
}
