.equipocreativo-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(117, 113, 113);
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.template-equipocreativo {
  color: #fff;

  p.filaEquipo {
    text-align: center;

    strong {
      color: #e3609e;
      font-size: 1.3em;
    }

    .logoInterior {
      max-width: 250px;
      width: 100%;
    }
  }

  @media (max-width: 981px) {
    p.filaEquipo {
      .logoInterior {
        max-width: 150px;
      }
    }
  }

  @media (max-width: 768px) {
    p.filaEquipo {
      .logoInterior {
        max-width: 120px;
      }
    }
  }
}
