/* stylelint-disable no-descending-specificity */

footer {
  background-color: #000;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 1em;
  padding-top: 30px;
  z-index: 200;

  .entradas-wrap {
    position: absolute;
    left: 50%;

    .entradas {
      position: relative;
      top: -110px;
      left: -50%;
      width: 80vw;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    body:not(.home) & {
      position: fixed;
      bottom: 0;
      z-index: 100000;

      .entradas {
        top: 0;
      }
    }
  }

  .social {
    list-style-type: none;
    margin-bottom: 5px;

    a {
      font-size: 1.5rem;
    }
  }

  .som-produce {
    width: 80vw;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .textofooter {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.03em;

    p:last-child {
      margin-bottom: 0;
    }
  }

  body:not(.home) & {
    position: relative;

    @include media-breakpoint-down(md) {
      padding-bottom: 130px;

      &::before {
        display: block;
        content: "";
        position: fixed;
        bottom: 0;
        height: 65px;
        width: 100%;
        background-color: #000;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 15px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  footer {
    position: relative;

    .textofooter {
      font-size: 0.5rem;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  footer {
    .textofooter {
      font-size: 0.5rem;
    }
  }
}
