.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .efectos {
    width: 100%;
    position: absolute;
    top: 0;

    .destello {
      position: absolute;
      width: 100%;
    }

    .destello-01 {
      animation: destello-efecto-01 3s infinite;
      -webkit-animation: destello-efecto-01 5s infinite;
    }

    .destello-02 {
      animation: destello-efecto-01 2s infinite;
      -webkit-animation: destello-efecto-01 2s infinite;
    }

    .destello-03 {
      animation: destello-efecto-01 4s infinite;
      -webkit-animation: destello-efecto-01 2s infinite;
    }
  }

  .brand {
    display: none;
  }

  .cont {
    max-width: 1600px;
  }

  .btnPlay {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-top: -53px;
    margin-left: -43px;
    max-width: 100px;

    &:hover {
      cursor: pointer;
    }
  }

  .contVideo {
    z-index: 9999;
    top: 0;
    position: fixed;
    width: 100vw;
    left: 0;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
  }

  #btnCerrar {
    position: absolute;
    z-index: 99999;
    right: 3%;
    top: 3%;
    max-width: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .centerContenido {
    text-align: center;
  }

  #miImagen {
    height: 53vh;
    margin-top: 15%;
  }

  #frame1 {
    opacity: 0;
  }

  #frame2 {
    opacity: 0;
  }

  #frame3 {
    opacity: 0;
  }

  @media (max-width: 768px) {
    #scene-row {
      bottom: 0;
    }

    .btnPlay {
      width: 90px;
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      margin-left: -50px;
    }

    #btnCerrar {
      position: absolute;
      z-index: 99999;
      right: 3%;
      top: 3%;
      max-width: 30px;

      &:hover {
        cursor: pointer;
      }
    }

    #miImagen {
      height: auto;
      width: 80%;
      margin-top: 3px;
    }
  }
}

.home-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(117, 113, 113);
  background-size: cover;
  background-position: top center;
  z-index: -100;
}

#scene-row {
  // personaje sin frames (sólo una imagen)
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 80px;
  left: 0;
  width: 100%;

  .frames {
    max-width: 100vw;

    img {
      max-width: 100vw;
      max-height: 100vh;
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(md) {
    bottom: 0;

    .frames {
      img {
        max-height: 100vh;
        margin-top: -80px;
      }
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .home {
    overflow: scroll;
  }
}
