.generico-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(117, 113, 113);
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.template-generico {
  color: #fff;

  .contenidoPage {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 90vh;

    .formGreasers_wrapper {
      form {
        width: 60%;

        .gform_body {
          width: 100% !important;

          ul.gform_fields {
            li.gfield {
              display: block !important;
            }
          }

          input[type=text] {
            background-color: transparent;
            border: none;
            border-bottom: solid 2px grey;
            color: #fff;
          }

          ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #e3609e;
            opacity: 1; /* Firefox */
          }

          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #e3609e;
          }
        }

        .gform_footer {
          input[type=submit] {
            font-size: 1rem !important;
            padding: 5px 15px !important;
            font-weight: 700 !important;
            color: #fff !important;
            background-color: #e3609e !important;
            border-radius: 4px !important;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .contenidoPage {
      max-width: 1000px;
      margin: 0 auto;
      min-height: 90vh;

      .formGreasers_wrapper {
        form {
          width: 90%;
        }
      }
    }
  }
}
