.grupos-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(117, 113, 113);
  background-size: cover;
  background-position: center bottom;
  z-index: -100;
}

.template-grupos {
  color: #fff;
}

.grupos-img {
  max-width: 100%;
  height: auto;
  bottom: 0;

  @include media-breakpoint-up(md) {
    position: absolute;
  }
}
