.banner {
  min-height: 100px;

  .btnTeatroSeguro {
    max-width: 120px;
    position: fixed;
    bottom: 12%;
    left: 50px;
    z-index: 999;
  }

  .cont {
    max-width: 1600px;
  }

  .contCentrado {
    text-align: center;
  }

  .hamburger {
    position: relative;
    z-index: 400;
    top: 20px;

    &:focus {
      outline: none;
    }
  }

  .entradas {
    .entradaBTN {
      z-index: 99;
    }

    .botonEntradasSup {
      background-color: #f2f2f2;
      max-width: 250px;
    }

    .imagenesFrame {
      position: absolute;
      max-width: 250px;
    }

    .letras {
      -webkit-animation-name: desenfocarTexto;
      animation-name: desenfocarTexto;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }

    .estrella {
      -webkit-animation-name: opacityEstrellas;
      animation-name: opacityEstrellas;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }

    .lineas {
      animation-name: opacityEstrellas;
      animation-duration: 3s;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
  }

  .efectosLogo {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;

    .destello {
      position: absolute;
    }

    .destello-01 {
      animation: destello-efecto-01 3s infinite;
      -webkit-animation: destello-efecto-01 5s infinite;
    }

    .destello-02 {
      animation: destello-efecto-01 2s infinite;
      -webkit-animation: destello-efecto-01 2s infinite;
    }

    .destello-03 {
      animation: destello-efecto-01 4s infinite;
      -webkit-animation: destello-efecto-01 2s infinite;
    }
  }

  img {
    max-width: 300px;
    height: auto;
  }

  .nav-primary {
    position: static;
    padding: 0;

    #menu-principal {
      display: flex;
      position: absolute;
      top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: -110vw;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.671);
      z-index: 300;
      transition: left $trans;

      li {
        @extend .nav-item;
      }

      a {
        @extend .nav-link;

        font-size: 1.6rem;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
      }

      li.itemRosa a {
        color: #e3609e;
      }

      li.itemEntrada a {
        background-color: #e3609e;
        color: #fff;
        font-size: 2em;
        font-weight: bolder;
        border-radius: 20px 0;
      }

      .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.8);

        .dropdown-item {
          &:hover {
            background-color: #e3609e !important;
          }

          &:active {
            background-color: #e3609e !important;
          }
        }

        .dropdown-item.active {
          background-color: #e3609e !important;
        }

        .dropdown-item.hover {
          background-color: #e3609e !important;
        }
      }

      &.abierto {
        left: 0;
      }
    }
  }
}

.sticky {
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 999;
  height: 100px;

  .efectosLogo {
    margin-left: -90px;

    img {
      width: 180px;
    }
  }

  .entradas {
    img {
      width: 180px;
    }
  }
}

@media (max-width: 992px) {
  .banner {
    .efectosLogo {
      width: 120px;
      position: absolute;
      left: 50%;
      margin-left: -150px;

      img {
        width: 180px;
      }
    }

    .btnTeatroSeguro {
      max-width: 110px;
      position: fixed;
      bottom: 10%;
      right: 25px;
      z-index: 999;
    }
  }

  .sticky {
    .hamburger {
      top: 2px;
    }

    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 999;

    .efectosLogo {
      width: 120px;
      position: absolute;
      left: 50%;
      margin-left: -120px;

      img {
        width: 120px;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    min-height: 60px;

    .btnTeatroSeguro {
      max-width: 90px;
      position: fixed;
      top: 5%;
      right: 15px;
      z-index: 999;
      left: initial;
    }

    .efectosLogo {
      width: 120px;
      position: absolute;
      left: 50%;
      margin-left: -130px;

      img {
        width: 180px;
      }
    }
  }

  .sticky {
    height: 60px;

    .hamburger {
      top: 2px;
    }

    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 999;

    .efectosLogo {
      width: 120px;
      position: absolute;
      left: 50%;
      margin-left: -100px;

      img {
        width: 120px;
      }
    }
  }
}
