.sinopsis-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(117, 113, 113);
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.template-sinopsis {
  color: #fff;

  .contTexto {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4%;
  }
}
