.template-tarjetaregalo {
  .page-content {
    h2 {
      text-transform: uppercase;
      margin-top: 3rem;
    }

    p {
      color: #fff;
    }
  }

  .importes {
    a {
      background-color: $rosa;
      color: #fff;
      font-size: 3rem;
      font-weight: 100;
      transition: background-color 0.5s;

      span {
        font-size: 1.5rem;
        font-style: italic;
      }

      &:hover {
        background-color: $azul;
      }
    }
  }

  .canjear {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #040027a1;

    h2 {
      color: #fff;
    }

    ol {
      list-style: none;
      counter-reset: li;
    }

    li {
      counter-increment: li;
      color: #fff;

      &::before {
        content: counter(li);
        font-family: clip, sans-serif;
        font-size: 2.5rem;
        vertical-align: -10%;
        color: #fcc1e8;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        text-shadow:
          0 0 5px #ff8fda,
          1px 1px 2px #ff4ac3,
          -1px -1px 2px #ff4ac3,
          1px -1px 2px #ff4ac3,
          1px -1px 2px #ff4ac3;
      }
    }
  }

  .preguntas {
    h2 {
      color: #fff;
    }

    .card {
      border: none;

      .card-header {
        border: none;

        h3 button {
          color: #ba3f6a;
          text-transform: uppercase;
          font-size: 1.2rem;
        }
      }

      .card-body {
        border: none;
        border-radius: 0;

        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
