.teatro-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(117, 113, 113);
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.template-teatro {
  color: #fff;

  .informacion {
    margin: 0;
  }

  .superior {
    padding-top: 2em;
    padding-bottom: 2em;
    background-size: cover;
    font-size: 0.9rem;

    .direccion {
      text-align: left;
      font-size: 1.5rem;
    }

    .poblacion {
      text-align: left;
    }

    .btnVermapa {
      text-align: left;
      margin-bottom: 5%;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0;
    }

    .informacion {
      > * {
        padding-right: 0;
        padding-left: 0;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    hr {
      border-top: 1px solid #fff;
      width: 100%;
    }

    .h-funciones {
      padding-top: 1rem;
      border-top: 2px solid #fff;
    }

    .h-taquilla {
      padding-bottom: 0.3rem;
      border-bottom: 2px solid #fff;
      margin-bottom: 1rem;
    }

    .vermapa {
      color: $azul;
      margin-bottom: 2%;
      background-color: #fff;
      text-transform: uppercase;
      padding: 2% 4%;
    }

    .accesible {
      font-size: 1rem;
    }
  }

  .medio {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    background-color: #fff;
    color: $azul;

    .indicaciones {
      padding-top: 2em;

      .icono {
        font-size: 2rem;
      }
    }
  }

  .inferior {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    > .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    .superior {
      .direccion {
        text-align: right;
      }

      .poblacion {
        text-align: right;
      }

      .btnVermapa {
        text-align: right;
        margin-bottom: 1%;
      }
    }
  }
}
