html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.page-header {
  h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    display: block;
    margin: 4% auto 1%;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    background: url(/wp-content/themes/grease/dist/images/fondo_animado.jpg) repeat-y;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

@media (max-width: 992px) {
  .page-header {
    h1 {
      font-size: 2rem;
      line-height: 1;
    }
  }
}

.main {
  font-size: 1.1em;
  font-weight: 100;
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes destello-efecto-01 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.6;
  }
}

@keyframes destello-efecto-01 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.6;
  }
}

.trapecio {
  display: inline-block;
  padding: 0.2em 1em;
  background-image: url("../images/trapecio.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
}

.wrap {
  margin-top: 50px;
}

@keyframes desenfocarTexto {
  0% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }

  25% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }

  50% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  75% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes opacityCambio {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityEstrellas {
  0% {
    opacity: 0.2;
  }

  12% {
    opacity: 0.8;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}
