/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$azul-oscuro: #2c143a;
$rosa: #e3609e;
$azul: #7370aa;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

$font-family-base: oswald;

@keyframes frame0 {
  0% { opacity: 1; }
}

@keyframes frame1 {
  0% { opacity: 0; }
  12% { opacity: 0; }
  24% { opacity: 1; }
}

@keyframes frame2 {
  0% { opacity: 0; }
  36% { opacity: 0; }
  48% { opacity: 1; }
}

@keyframes frame3 {
  0% { opacity: 0; }
  60% { opacity: 0; }
  72% { opacity: 1; }
}

$hamburger-layer-width: 35px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 7px;
$hamburger-layer-color: #fff;

$trans: 0.5s;
